In [1]:
import numpy
import os

####################################################################################################################

def open_xyz(xyz_filename):
    """
    This function opens an xyz file, seperates the coordinates and the symbols and recasts the coordinates as floats.
    this function returns two thinds: symbols and coordinates
    """
    xyz_file = numpy.genfromtxt(fname=xyz_filename, skip_header=2, dtype='unicode')
    symbols = xyz_file[:, 0]
    coordinates = xyz_file[:, 1:]
    coordinates = coordinates.astype(numpy.float)
    return symbols, coordinates

####################################################################################################################

def calculate_distance(atom1_coord, atom2_coord):
    """
    Calculates the distance between two points in 3D space.
    Inputs: coordinates of two atoms
    Return: distance between the atoms
    """
    x_distance = atom1_coord[0] - atom2_coord[0]
    y_distance = atom1_coord[1] - atom2_coord[1]
    z_distance = atom1_coord[2] - atom2_coord[2]
    bond_length_12 = numpy.sqrt(x_distance ** 2 + y_distance ** 2 + z_distance ** 2)
    return bond_length_12

####################################################################################################################

def bond_check(distance, min_val=0, max_val=1.5):
    """
    Check if a distance is a bond based on a minimum and maximum bond length
    """
    if distance>min_val and distance<=max_val:
        return True
    else:
        return False
####################################################################################################################

In [362]:
import pandas as pd
# https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c

meta_data = pd.read_csv("./data/r_metadata_AMV_200131.csv", index_col=0)
meta_data.head(5)

,Rf.values,X,Sample 1,Sample 2,Sample 3,Sample 4,Kon A,Kon B,Kon C
Sample,,,,,,,,,
sample input,NaN,[ul],47.0,57.0,68.0,46.0,NaN,NaN,NaN
PC,1.06,[pmol],50.0,50.0,50.0,50.0,50.0,NaN,NaN
SM,1.35,[pmol],50.0,50.0,50.0,50.0,50.0,NaN,NaN
PE,1.74,[pmol],25.0,25.0,25.0,25.0,25.0,NaN,NaN
PS,1.13,[pmol],25.0,25.0,25.0,25.0,25.0,NaN,NaN

In [186]:
meta_data.loc['Chol']

Rf.values       NaN
X            [pmol]
sample 9        NaN
sample 10       NaN
sample 11       NaN
sample 12       NaN
Kon.A           NaN
Kon.B            50
Kon.C           100
Name: Chol, dtype: object

In [189]:
meta_data.loc[:, 'sample 9']

Sample
sample input     47.0
PC               50.0
SM               50.0
PE               25.0
PS               25.0
PI               30.0
PG               10.0
PA               10.0
HexCer            5.0
Cer               5.0
Hex2Cer           5.0
DAG              25.0
TAG              24.0
CE               25.0
LPC               5.0
CA              100.0
Chol              NaN
plPE16-0          NaN
plPE18-0          NaN
plPE18-1          NaN
Name: sample 9, dtype: float64

In [358]:
LV_file = os.path.join('data', '200131_XtrIL_AMV_SM.txt')

In [374]:
col_names = list(pd.read_table(LV_file, skiprows=1,
                             usecols = lambda column : 'Unnamed' not in column))
lipid_data = pd.read_table(LV_file, skiprows=2, index_col=0, 
                        usecols = lambda column : column not in ['Sample ID', 'PIS m/z', 'Polarity', 'View Type', '(ScanName)'])

lipid_data.columns = col_names[1:]
lipid_data.head(5)

,Sample 1,Sample 2,Sample 3,Sample 4,Kon A
LipidName,,,,,
IS SM 31:1;2,1.691839e+07,1.648000e+07,1.961700e+07,1.147065e+07,9.783000e+06
IS SM 35:1;2,2.430811e+07,2.099312e+07,2.066512e+07,1.644873e+07,1.819667e+07
IS SM 43:1;2,1.146693e+07,1.047034e+07,1.035905e+07,7.902165e+06,7.947878e+06
SM 34:2;2,3.839470e+05,3.434461e+05,4.802061e+05,4.474835e+05,0.000000e+00
SM 34:1;2,4.298558e+06,3.181287e+06,7.392958e+06,6.834820e+06,4.112500e+04

In [408]:
print(lipid_data.index.values)
print(lipid_data.columns.values)

['IS SM 31:1;2' 'IS SM 35:1;2' 'IS SM 43:1;2' 'SM 34:2;2' 'SM 34:1;2'
 'SM 34:0;2' 'SM 36:2;2' 'SM 36:1;2' 'SM 36:0;2' 'SM 38:2;2' 'SM 38:1;2'
 'SM 38:0;2' 'SM 40:2;2' 'SM 40:1;2' 'SM 40:0;2' 'SM 42:3;2' 'SM 42:2;2'
 'SM 42:1;2' 'SM 42:0;2']
['Sample 1' 'Sample 2' 'Sample 3' 'Sample 4' 'Kon A']

In [430]:
def open_LVfile(LVfile):
    """
    This function opens a single text file, removes redundant columns and renames the columns.
    this function returns cleaner table.
    """
    col_names = list(pd.read_table(LVfile, skiprows=1, usecols = lambda column : 'Unnamed' not in column))
    lipid_data = pd.read_table(LVfile, skiprows=2, index_col=0, usecols = lambda column : column not in ['Sample ID', 'PIS m/z', 'Polarity', 'View Type', '(ScanName)'])
    lipid_data.columns = col_names[1:]
    return lipid_data

In [448]:
LV_file = os.path.join('data', '200131_XtrIL_AMV_SM.txt')
open_LVfile(LV_file)

,Sample 1,Sample 2,Sample 3,Sample 4,Kon A
LipidName,,,,,
IS SM 31:1;2,1.691839e+07,1.648000e+07,1.961700e+07,1.147065e+07,9.783000e+06
IS SM 35:1;2,2.430811e+07,2.099312e+07,2.066512e+07,1.644873e+07,1.819667e+07
IS SM 43:1;2,1.146693e+07,1.047034e+07,1.035905e+07,7.902165e+06,7.947878e+06
SM 34:2;2,3.839470e+05,3.434461e+05,4.802061e+05,4.474835e+05,0.000000e+00
SM 34:1;2,4.298558e+06,3.181287e+06,7.392958e+06,6.834820e+06,4.112500e+04
SM 34:0;2,9.425960e+05,6.780635e+05,4.228228e+05,3.665949e+05,1.028732e+05
SM 36:2;2,2.410219e+05,2.183981e+05,8.528727e+04,1.112099e+05,3.203809e+04
SM 36:1;2,5.720218e+05,5.056892e+05,9.403946e+04,2.432620e+05,2.229551e+04
SM 36:0;2,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.022871e+04
SM 38:2;2,2.092247e+04,1.147119e+05,6.654191e+04,2.131324e+04,9.799904e+03
SM 38:1;2,0.000000e+00,3.867486e+04,0.000000e+00,0.000000e+00,0.000000e+00
SM 38:0;2,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.532741e+03
SM 40:2;2,2.731488e+05,2.334779e+05,2.406272e+05,1.270407e+05,1.578856e+04
SM 40:1;2,5.933748e+05,1.413597e+05,0.000000e+00,3.095074e+05,1.187500e+04
SM 40:0;2,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.144977e+03
SM 42:3;2,5.779145e+05,3.375907e+05,6.246750e+05,5.358436e+05,1.125000e+04
SM 42:2;2,3.088894e+06,2.095558e+06,2.999083e+06,2.604363e+06,3.051649e+03
SM 42:1;2,1.269565e+06,9.108383e+05,6.746925e+05,6.664982e+05,3.362500e+04
SM 42:0;2,8.440717e+04,6.931492e+04,9.108433e+04,0.000000e+00,5.756129e+03

In [446]:
import glob 
file_location = os.path.join('data', '*.txt')
filenames = glob.glob(file_location)

for i in range(0,len(filenames)):
    data = open_LVfile(filenames[i])
    print(data.head(1))

           Sample 1  Sample 2  Sample 3  Sample 4    Kon A     Kon B     Kon C
LipidName
Chol       30724625  16071750  35192875  34937125  2477500  18795250  34101000
               Sample 1    Sample 2      Sample 3    Sample 4         Kon A
LipidName
IS Chol 9:0  16869875.0  15516250.0  1.517075e+07  14463125.0  1.236293e+07
                Sample 1   Sample 2   Sample 3   Sample 4      Kon A
LipidName
IS Cer 32:1;2  7649000.0  6535500.0  6837875.0  5810750.0  3859250.0
             Sample 1  Sample 2  Sample 3  Sample 4   Kon A
LipidName
IS DAG 34:0   3111875   3493625   3389500   1725750  900375
                   Sample 1  Sample 2  Sample 3  Sample 4   Kon A
LipidName
IS Hex2Cer 35:1;2    491375    459125    441625    350125  293125
                   Sample 1   Sample 2   Sample 3   Sample 4      Kon A
LipidName
IS HexCer 32:1;2  3887250.0  3064625.0  3637000.0  2917125.0  1528125.0
              Sample 1     Sample 2      Sample 3   Sample 4         Kon A
LipidName
IS LPC 17:1  2799750.0  2593980.018  2.728600e+06  1834125.0  1.723867e+06
                Sample 1      Sample 2      Sample 3      Sample 4  \
LipidName
IS PA 37:4  1.983036e+06  1.574500e+06  1.652136e+06  1.431108e+06

                  Kon A
LipidName
IS PA 37:4  381748.4799
                Sample 1    Sample 2    Sample 3      Sample 4       Kon A
LipidName
IS PC 28:0  3.896986e+07  39111000.0  42698250.0  3.179626e+07  19951875.0
              Sample 1   Sample 2      Sample 3      Sample 4      Kon A
LipidName
IS PE 28:2  11174500.0  9716375.0  1.246669e+07  7.919300e+06  3700125.0
                Sample 1      Sample 2   Sample 3   Sample 4         Kon A
LipidName
IS PG 28:2  4.587804e+06  3.705377e+06  4455250.0  3317250.0  1.615577e+06
            Sample 1  Sample 2  Sample 3  Sample 4    Kon A
LipidName
IS PI 37:4   2862625   2425125   2603000   2014125  2648375
                Sample 1      Sample 2      Sample 3      Sample 4      Kon A
LipidName
IS PS 28:2  8.300288e+06  6.834736e+06  8.606357e+06  6.093747e+06  3836500.0
                  Sample 1      Sample 2    Sample 3      Sample 4      Kon A
LipidName
IS SM 31:1;2  1.691839e+07  1.648000e+07  19617000.0  1.147065e+07  9783000.0
                           Sample 1  Sample 2  Sample 3  Sample 4    Kon A
LipidName
IS D5-TAG 14:0/16:1/14:0    3638625   4319875   5123500   4136625  3304750